@keyframes TransitioningBackground {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.transition-background {
    background-size: 145% 200%;
    animation: TransitioningBackground 2s ease infinite;
}
.transition-background.fast {
    background-size: 75% 100%;
    animation-duration: 0.4s;
}

@keyframes countdown {
    /* from { 
        width: 100%;
    }
    to { 
        width: 0% 
    } */
    0% { 
        width: 100%;
        background-position-x: 1%;
    }
    100% { 
        width: 0% ;
        background-position-x: 2000%;
    }
}

.timer-bar {
    height: 100%;
    width: 0;
    text-align: right;
    font: bold 12px arial;
    line-height: 30px;
    background-image: linear-gradient(30deg, var(--light-purple), var(--light-pink));
}

.timer-container {
    width: 100%;
    /* position: absolute; */
    height: 8px;
    /* right: 0;
    bottom: 251px; */
    background: transparent;
}

.bg-pirkle { 
    background-image: linear-gradient(270deg, var(--light-purple), var(--light-pink));
}
.bg-winter-green { 
    background-image: linear-gradient(270deg, var(--winter), var(--light-green));
}
.bg-rellow { 
    background-image: linear-gradient(270deg, var(--light-red), var(--light-yellow));
}





.bg-bleen { 
    background-image: linear-gradient(30deg, rgb(29, 128, 141), rgb(31, 75, 105));
}

img.celebration {
    position: absolute;
    top: 4px;
    width: 100%;
    height: 100%;
    margin: -5px;
    pointer-events: none;
}
